@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body {
 background: lightgreen;
}
.main-container {
 display: flex;
}

.borders {
    font-family: 'Kanit', sans-serif;
    color: green;
    
    background-color: black;


    
    width: 150px;
    height: 247px;
}
h1 {
 color: green;
 font-size: 21px;

}
p {
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
}
.gtx1080 {
    width: 100px;
}

	button:hover {
        filter: blur(2px);
}